/*** 

====================================================================
		FAQ's Sectiom
====================================================================

***/

.faq-left-items-1 {
	.faq-image {
		margin-top: 45px;
		position: relative;

		@include media-breakpoint-down (md){
			margin-top: 30px;
		}

		img {
			@include imgw;
			border-radius: 20px;
		}

		.shape-1 {
			position: absolute;
			top: 40px;
			left: -40px;

			@include media-breakpoint-down (xl){
				display: none;
			}
		}

		.shape-2 {
			position: absolute;
			bottom: 50px;
			right: -40px;

			@include media-breakpoint-down (xl){
				display: none;
			}
		}
	}
}

.faq-content-1 {
	.accordion-box {
		position: relative;

		.block {
			position: relative;
			background-color: transparent;
			margin-bottom: 10px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.20);
			[data-tm-layout="dark"] & {
				border-color: rgb(var(--theme-color-white-rgb), 0.1);
			}
			padding-bottom: 25px;
			margin-bottom: 25px;

			&:last-child {
			margin-bottom: 0;
			}

			.acc-btn {
			position: relative;
			font-size: 22px;
			color: var(--headings-color);
			font-weight: 600;
			cursor: pointer;
			transition: all 500ms ease;
			//border-bottom: 1px solid var(--border-theme-color3);

			@include media-breakpoint-down (xl){
				font-size: 20px;
			}

			.icon {
				position: absolute;
				right: 0;
				top: 0;
				height: 35px;
				font-size: 18px;
				line-height: 25px;
				color: var(--headings-color);
				transition: all 500ms ease;
			}
			&.active {
				transition: all 0.5s ease;
				.icon {
				&:before {
					content: "\f068";
				}
				}
			}
			}
			.acc-content {
			position: relative;
			// display: none;
			padding-right: 20px;
			margin-top: 10px;
			transition: all 0.5s ease;
			.content {
				position: relative;
				.text {
				display: block;
				font-size: 16px;
				line-height: 30px;
				margin-bottom: 0;
				}
			}
		
			&.current {
				display: block;
			}
			}
		}
	}
}

.faq-section-2 {
	position: relative;
	margin: 0 30px;
	border-radius: 50px;
	background-color: #144443;

	@include media-breakpoint-down (xxl){
        padding-left: 30px;
        padding-right: 30px;
    }

	@include media-breakpoint-down (xl){
		padding-top: 100px;
	}

	@include media-breakpoint-down (lg){
		padding-top: 80px;
	}

    @include media-breakpoint-down (md){
        margin: 0 20px;
        padding-left: 18px;
        padding-right: 18px;
    }
	.dotted-shape {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		@include media-breakpoint-down (xl){
			display: none;
		}
		img {
			height: 100%;
		}
	}
}

.faq-wrapper-2 {

	.faq-items-wrap {
		padding: 120px 80px 100px;
		padding-left: 50px;

		@include media-breakpoint-down (xxxl){
			padding-left: 25px;
			padding-right: 40px;
		}

		@include media-breakpoint-down (xxl){
			padding-top: 25px;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.faq-image-style-3 {
	height: 822px;
	@include media-breakpoint-down (xl){
		display: none;
	}

	img {
		border-radius: 50px 0px 0px 0px;
		@include imgw;
		object-fit: cover;
	}
}

.faq-content-style-3 {
	.sec-title {
		.triangle2 {
			border-left-color:#67A19F;
		}
	}
	.faq-text {
		margin-top: 35px;
		color: var(--theme-color-white);
		[data-tm-layout="dark"] & {
			color: rgb(204 204 204 / 80%);
		}
	}
	.theme-btn {
		margin-top: 40px;		
		position: relative;
		&.btn-style-one {
			align-items: center;
	    background-image: linear-gradient(to left, var(--theme-color1) 0%, var(--theme-color7) 50%, var(--theme-color1) 100%);
	    background-size: 200%;
			border-radius: 100px;
			color: var(--theme-color-white);
			height: 70px;
			padding: 26px 60px;
			padding-right: 100px;
			[data-tm-layout="dark"] & {
				color: var(--headings-color);
			}
			@include for-sm {
				padding-right: 80px;				
				height: 60px;
				.icon {
					height: 40px;
					line-height: 40px;
					right: 10px;
					top: 8px;
					width: 40px;
					svg {
						height: 15px;
						width: 15px;
					} 
				}
			}
			@include media-breakpoint-down(sm) {
				padding: 26px 42px;
				padding-right: 42px;
				padding-right: 88px;
				height: 57px;
			}
			&:before{
				display: none;
			}
			&:hover {
      	background-position: 100% 0;
        .icon {
          background-color: var(--theme-color2);
          color: var(--theme-color-white);
					[data-tm-layout="dark"] & {
						color: var(--headings-color);
					}
        }
			}
		}
		.icon {
			background-color: var(--theme-color-white);
			border-radius: 50%;
			bottom: 4px;
			color: var(--theme-color-black);
			[data-tm-layout="dark"] & {
				color: var(--headings-color);
			}
			font-size: 50px;
			height: 62px;
			line-height: 72px;
			position: absolute;
			right: 4px;
			top: 4px;
	    transition: all 0.4s ease-in-out;
			width: 62px;
		}
	}
}

.faq-accordion-style-3 {
	.accordion {
		.accordion-item {
			border: none;
			border-radius: 10px;
			margin-bottom: 20px;
			background-color: #133B3A;
			overflow: hidden;
			[data-tm-layout="dark"] & {
				box-shadow: 0px 4.4px 20px -1px #1310220D;
			}
			.accordion-header {
				button {
				    background-image: linear-gradient(to left, var(--theme-color1) 0%, var(--theme-color7) 50%, var(--theme-color1) 100%);
				    background-size: 200%;
					box-shadow: none;
					border-radius: 0 !important;
					color: var(--theme-color-white);
					font-family: var(--heading-font-family);
					font-size: 18px;
					font-weight: 700;
					line-height: 30px;
					padding: 17px 30px;
					transition: all 300ms ease;
					[data-tm-layout="dark"] & {
						color: #ffffff;
					}
				}
			}
			.accordion-body {
				padding: 30px;
				.text {
					font-size: 16px;
					line-height: 30px;
					margin: 0;
					color: #F2F3F5;					
				}
			}
			&:hover{
				.accordion-header {
					button {
				    	background-position: 100% 0;
					}
				}
			}
		}

		.accordion-button {
			&::after {
				display: none;
			}
			&::before {
				position: absolute;
				content: "\f105";
				font-family: "Font Awesome 6 Pro";
				font-weight: 700;
				top: 15px;
				right: 15px;
				font-size: 16px;
				width: 30px;
				height: 30px;
				line-height: 30px;
				border-radius: 0px;
				color: var(--theme-color-white);
				text-align: center;
				transition: all 300ms ease;
				transform: rotate(90deg);
				[data-tm-layout="dark"] & {
					color: #ffffff;
				}
			}
		}
		.accordion-button.collapsed {
			background: #133B3A !important;
			color: var(--theme-color-white);
			&::before {
				transform: rotate(0deg);
			}
			[data-tm-layout="dark"] & {
				color: #ffffff;
			}
		}
	}
}

.faq-left-items-2{
	.faq-image{
		img{
			border-radius: 30px;
		}
	}
	.info-box{
		align-items: center;
		display: inline-flex;
		gap: 10px;
		margin: 0px 50px;
		position: relative;
		transform: translateY(-40%);
		width: 100%;
		@include media-breakpoint-down(sm) {
			flex-wrap: wrap;
			margin: 0;
			margin-top: 30px;
			transform: translateY(0);
		}
		.icon-box{
	    background-image: linear-gradient(to left, var(--theme-color1) 0%, var(--theme-color7) 50%, var(--theme-color1) 100%);
	    background-size: 200%;
	    transition: all 300ms ease;
			border-radius: 10px;
			color: var(--theme-color-white);
			height: 110px;
			line-height: 130px;
			text-align: center;
			width: 110px;
			.icon{
				color: var(--theme-color-white);
				font-size: 50px;
			}
		}
		&:hover{
			.icon-box{
		    background-position: 100% 0;
			}
		}
		.content-box{
			position: relative;
			display: inline-flex;
			align-items: center;
			gap: 17px;
			border-radius: 10px;
			padding: 20px;
			padding-right: 30px;
			background-color: var(--theme-color-white);
			box-shadow: 0px 4px 10px 0px #E2CCCC;
			[data-tm-layout="dark"] & {
				background-color: var(--theme-color2);
				box-shadow: none;
			}
			.content-icon{
				width: 68px;
				height: 68px;
				line-height: 48px;
				text-align: center;
				border-radius: 50%;
				border: 10px solid rgb(106 111 120 / 10%);
				.icon{
					font-size: 20px;
					width: 100%;
					height: 100%;
					display: inline-block;
					border-radius: 50%;
					color: var(--theme-color-white);
					background: var(--theme-color2);
					[data-tm-layout="dark"] & {
                        background: linear-gradient(90deg, #C8F169 0%, #039397 100%);
                    }
				}
			}
			.content{
				.content-title{
					font-weight: 700;
					font-size: 18px;
					line-height: 100%;
					text-transform: capitalize;
					margin-bottom: 10px;
					color: var(--headings-color);
				}
				.content-text{
					font-weight: 400;
					font-size: 14px;
					line-height: 24px;
					color: #6A6F78;
					display: block;
				}
			}
		}
	}
}
.faq-section-three {
	position: relative;
	margin: 0px 30px;
	padding: 120px 0px 160px;
	border-radius: 30px;
	margin-bottom: -80px;
	background-color: #F5F5F5;
	[data-tm-layout="dark"] & {
		background-color: var(--dark-color2);
	}
	@include media-breakpoint-down(xl) {
		margin: 0;
		margin-bottom: -80px;
	}
	.bg-layer{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .3;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.faq-content-1{
		.accordion{
			position: relative;
			overflow: hidden;
			padding: 0;
			border-radius: 10px;
			border: 1px solid rgb(var(--theme-color-black-rgb),.1);			
			.acc-btn{
				position: relative;
				font-family: var(--heading-font-family);
				font-weight: 700;
				font-size: 18px;
				line-height: 100%;
				padding: 20px 30px;
				padding-right: 50px;
				text-transform: capitalize;
				transition: all 0.6s ease-in-out;
				// @include transition( all 0.6s ease-in-out);
				.arrow-icon{
					position: absolute;
					top: 20px;
					right: 30px;
				}
			}
			&.active-block{
				.acc-btn{
					color: var(--theme-color-light);
					background-image: linear-gradient(to left, var(--theme-color1) 0%, var(--theme-color7) 50%, var(--theme-color1) 100%);
					background-size: 200%;
					transition: all 0.6s ease-in-out;
					.arrow-icon{
						color: var(--theme-color-light);
						transform: rotate(90deg);
					}
					&:hover{
				    background-position: 100% 0;
					}
				}
			}
			.acc-content{
				margin: 0;
				padding: 0;
				.content{
					padding: 20px 30px;
				}
			}
		}
	}
}
